body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('Tech Website.jpg') no-repeat center center fixed;
    background-size: cover;
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(31, 30, 30, 0.3);
    padding: 80px 20px;
    border-radius: 10px;
    width: 300px;
}

.foto-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 20px;
    background-color: #50dcf4;
    transform: translateY(-30%);
}

.nama {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    transform: translateY(-200%);
}

.paragraf {
    font-size: 1.1em;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    transform: translateY(-65%);
}

.social-links {
    font-size: 1.5em;
    text-align: center;
    transform: translateY(60%);
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    color: #00d9ff;
}

.social-links i {
    margin-right: 5px;
}
